## Notes:
- Markdown = For writing heading
- Code = For writing code 
- -(hifon) = For writing bullet points
- #= For writing Comment

# Data Structures:
- [A] Primitive Data Types [mutable]
    - [1] Int   [Ex: 1,2,3,4,5,6 etc]
    - [2] Float [Ex:1.2, 4.5, 6.7 etc]
    - [3] String [''] or [""]
    - [4] Boolean [Ex: True or False]
    - [5] Complex: [Ex: `3 + 7j`]
- [B] Advanced Data Types ['mutable + immutable']
    - [1] List[]
    - [2] Tuple()
    - [3] Sets{}
    - [4] Dictionary {}


## [A] Primitive Data Types:
- These are 'immutable'
### [1] Int   [Ex: 1,2,3,4,5,6 etc]
- [a] type
    - What kind of "data type" the variable belongs to
- [b] isinstance
    - It is inbuild function
    - Which helps us understand that What kind of data type it is.
    - Which helps us to understand whether the variable belogs to a particular data type or not. 
    - If it is belonging to that data types means then it will written as "True" (or) it will written as "False"
### [2] Float [Ex:1.2, 4.5, 6.7 etc]
- [a] type
- [b] isinstance
### [3] String [''] or [""]
### [4] Boolean [Ex: True or False]
- It is just True (or) False
- In context of Python, 
    - Digit 0 = False &
    - Any other digit = True
- Similarly any empty data structure is False.
    - int(0) = false
    - float(0.0) = false
    - [] = false
    - () = false
    - {} = false
### [5] Complex: [Ex: `3 + 7j`]
- Complex data type consists of two values, the first one is the real part and the second is imaginary part. 

## [B] Advanced Data Types:
- These are 'mutable + immutable'
### [1] List[]
- Lists are denoted by square brackets i,e []
- lst=[int,float,str,boolean]
- Lists are ordered elements, so they have indexs.
    - Ex:     [1, 3.4, “Ram”, True]
    - Indexs: [0,  1,    2,      3]
    - Indexs: [-4, -3,   -2,    -1]
    - i,e Indexs start with '0' [From starting end] & '-1' [From other end]
- They are mutable and we can modify (add/remove/delete) values within them.
    - i,e any element can be replaced within the variable.
    - Ex: lst[0]=10
- New set of elements can be added to lists.

- If we want to findout what value is present in the index means u can use "Silicing"
    - Ex: lst[0]

- Common error comes in "list":
    - we can use indexes that are available in the variable any beyond means it will through an "error"
    - Ex: Here length of list is "8" and u r asking for "10th index" which leads to "list index out of range" error.
        - i,e IndexError: list index out of range

- Common list operations:
    - [A] Append [Addition]
        - It is used to add one element "at a time at the end of the list".
        - We canot add 2 elements at a time

        - If added it will through error
            - If still u want to add means u can use 
                - "for-loop" (or) 
                - "Extend"
        - Common error comes in "list":
            - We canot assign (=) anything to "Append", "Extend", "insert", "remove", "Pop"
            - if u still assigned means that variable will be loss and it will be "none"
                - Ex: lst0=['a','b','c','d']
                -     lst0 = lst0.append(5)
                -     print(lst0)
                -     Ans: None
    - [B] Extend
        - Merging two lists is done by using extend

        - Common error comes in "list":
            - We canot assign (=) anything to "Append", "Extend", "insert", "remove", "Pop"
            - if u still assigned means that variable will be loss and it will be "none"
                - Ex: lst0=['a','b','c','d']
                -     lst0 = lst0.extend(5)
                -     print(lst0)
                -     Ans: None
    - [C] Insert
        - Insert an element using an index "at any place"
            - Ex: lst1.insert(0, -1) 
                - 0=which place we have to insert (0= Zeroth index)
                - -1=which element we have to insert

    - [D] Remove
        - We have to pass only one "element" at a time in (), but not "indexes"
        - If element is present then it will remove (or) else it will through "error" message 
            - Ex: lst1.remove(-1)
            - lst1

        - Common error comes in "list":
            - If element is present then it will remove (or) else it will through "error" message
                - Ex: lst1.remove(-1)
                - lst1
                - Ans: ValueError: list.remove(x): x not in list
        - When there are duplicates it removes only one element at a time.
            - It wont remove all the duplicates at once
                - Ex: lst3 = [1, 1]
                - lst3.remove(1)
                - lst3
                - Ans: [1]
        - Common error comes in "list":
            - Cannot remove an element which is not present in list
                - Ex: lst3.remove(2)
    - [E] Pop
        - [A] 
            - By default, Pop removes the "last element" from list
            - When no value is passed inside (), it removes last index from list.
            - Result shows which element was dropped
        - [B] 
            - pop uses "indexes" iside (). 
            - Ex: lst1.pop(0)
            - lst1

        - Cannot pop an "empty list"
    - [F] Slicing
        - If i want to access "more than 1 element" with in a list
            - Ex: lst1=[1,2,3,4,5]
            -     lst1
            -     lst1[:2]
        
        - If i want to access "All elements" with in a list
            - Ex: lst1=[1,2,3,4,5]
            -     lst1
            -     lst1[:100]
    - [G] Reverse
        - If u want to reverse the order then we will use this function (.reverse)
            - Ex: lst1.reverse()
            -     lst1

    - [H] Sort
        - If u want to put values in "sorted format" then use this.
            - [A] Works only for "single data type"
                - Ex: lst0 =['#', '1', 'z', 'a', 'y', '$', 'b', 'c', 'd']
                - sorted(lst0)
            - [B] - It wonot works on "Multiple (or) dis-similar data types"
                - Ex: lst0 =['#', '1', 1, 'a', 'y', True, 'b', 'c', 10.5]
                - sorted(lst0)

### [2] Tuple()
- Tuples are denoted by paranthesis i,e ()
- tp1=[int,float,str,boolean]
- Tuples are ordered elements, so they have indexs.
    - Ex:     [1, 3.4, “Ram”, True]
    - Indexs: [0,  1,    2,      3]
    - Indexs: [-4, -3,   -2,    -1]
    - i,e Indexs start with '0' [From starting end] & '-1' [From other end]
- They are non mutable and we cannot modify (add/remove/delete) values within them

- Common tuple operations:
    - [A] Append [Addition] ------XXX
    - [B] Extend -----------------XXX
    - [C] Insert -----------------XXX
    - [D] Remove -----------------XXX
    - [E] pop --------------------XXX
    - [F] Slicing------------------OK
        - If i want to access "more than 1 element" with in a list
            - Ex: tp1=(1,2,3,4,5)
            -     tpl
            -     tpl[:2]
        
        - If i want to access "All elements" with in a list
            - Ex: tp1=(1,2,3,4,5)
            -     tpl
            -     tpl[:100]

        - Common error comes in "tuple":
            - We canot assign (=) anything to "Append", "Extend", "insert", "remove", "Pop"
            - if u still assigned means that variable will be loss and it will be "none"
                - Ex: tpl0=['a','b','c','d']
                -     tpl0 = tpl0.extend(5)
                -     print(tpl0)
                -     Ans: None ['tuple' object does not support item assignment]

    - [G] Reverse------------------OK
    - [H] Sort---------------------OK

### [3] Sets {}
- Sets are denoted by "flower brackets/Curly braces" i,e {} 
- Sets=[int] or Sets=[float] or Sets=[str] or Sets=[boolean]
- Set by default will take "unique elements" (i,e it won't take duplicate values)
- Sets are un-ordered elements, so they donot have indexs.
    - Ex:     [1, 2, 2, 3, 4, 5]
- They are non mutable and we cannot modify (add/remove/delete) values within them.
- Common set operations:
    - [A] Append [Addition]
    - [B] Extend 
    - [C] Insert 
    - [D] Remove 
    - [E] pop 
    - [F] Slicing------------------XXX
    - [G] Reverse------------------XXX
    - [H] Sort---------------------XXX

### [4] Dictionary {}
- Dictinory are denoted by "flower brackets/Curly braces" i,e {} 
- Like in "List" & "Tuple" we are accessing through "indexs", here We can access by using "keys"
    - Ex: {"name": "sanjeev"} = {"Key" : "name"}
    - Ex: mydict["name"] ------- 'variable' followed by the 'key name'     
- They are mutable and we cannot modify (add/remove/delete) values within them.
- Common list operations:
    - [A] Append [Addition]
    - [B] Extend 
    - [C] Insert 
    - [D] Remove 
    - [E] pop 
    - [F] Slicing------------------XXX
    - [G] Reverse------------------XXX
    - [H] Sort

- Common key operations:
    - [A] keys:
        - Shows list of keys we will use ".keys()"
            - .keys()
            - Ex: mydict.keys()
    - [B] items:
        - To show list of items mappings we will use ".items()"
        - It will give out put as list of tuples.
    - .items()
    mydict.items()
    
    - [C] values
        - To show list of values we will use ".values()"
            - .values()
            - Ex: mydict.values()

- An overview of common data types that we come acrros in Python

# [A] Primitive Data Types
### [1] Int [Ex: 1,2,3,4,5,6 etc]
### [2] Float [Ex:1.2, 4.5, 6.7 etc]

#### Type
- What kind of "data type" the variable belongs to

In [6]:
Age = 16
print(type(Age))

<class 'int'>

In [7]:
Age = 16 
type(Age)

int

### isinstance
- It is inbuild function
- Which helps us understand that What kind of data type it is.
- Which helps us to understand whether the variable belogs to a particular data type or not. 
- If it is belonging to that data types means then it will written as "True" (or) it will written as "False"

In [10]:
isinstance(Age,int)

True

In [11]:
isinstance(Age,float)

False

In [12]:
isinstance(Age,str)

False

In [14]:
x=10
type(x)

int

In [15]:
x = 12.5
type(x)

float

In [17]:
y = 12.5
type(y)
type(y)

float

### "int" and "float" can be used with operands
### We can add only.

In [18]:
x+y

25.0

In [19]:
x-y

0.0

In [20]:
x/y

1.0

In [21]:
x%y

0.0

In [22]:
type(x+y)

float

## [3] String [''] or [""]

In [53]:
x=['a','b']
x[0]

'a'

In [54]:
x[1]

'b'

In [29]:
x = 'abc,'
x = "abc"
x[0]

'a'

In [30]:
z = 'a, b, c, d'
z[0]

'a'

In [31]:
z[1]

','

In [32]:
x[0]='z'

TypeError: 'str' object does not support item assignment

In [33]:
type(x)

str

## [4] Boolean
- It is just True (or) False
- In context of Python, 
    - Digit 0 = False &
    - Any other digit = True
- Similarly any empty data structure is False.
    - int(0) = false
    - float(0.0) = false
    - [] = false
    - () = false
    - {} = false

In [34]:
x = [1]
bool(x)

True

In [35]:
x = []
bool(x)

False

In [36]:
if x:
    print('x is not empty')
else:
    print("condition did not pass")

condition did not pass

In [37]:
type(True)

bool

In [38]:
type(False)

bool

In [39]:
x = 0
x = bool(x)
print(x)
type(x)

False

bool

In [40]:
x = 1
x = bool(x)
print(x)
type(x)

True

bool

In [41]:
x = -1
x = bool(x)
print(x)
type(x)

True

bool

In [42]:
x = []
x = bool(x)
print(x)
type(x)

False

bool

In [43]:
x = [1]
x = bool(x)
print(x)
type(x)

True

bool

In [44]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

# [B] Advanced Data Types
## [1] Lists []
- Lists are denoted by square brackets i,e []
- lst=[int,float,str,boolean]
- Lists are ordered elements, so they have indexs.
    - Ex:     [1, 3.4, “Ram”, True]
    - Indexs: [0,  1,    2,      3]
    - Indexs: [-4, -3,   -2,    -1]
    - i,e Indexs start with '0' [From starting end] & '-1' [From other end]
- They are mutable and we can modify (add/remove/delete) values within them.
    - i,e any element can be replaced within the variable. 
    - Ex: lst[0]=10
- New set of elements can be added to lists.

### Mutable
- [A] append
- [B] extend
- [C] insert
- [D] remove
- [E] pop
- [F] slicing
- [G] reverse
- [H] sort

In [47]:
# lst is list of numbers here
lst=[1,2,3,4,5,6.7,'sanjeev',True]

In [48]:
print(type(lst))

<class 'list'>

#### If we want to findout what value is present in the index means u can use "Silicing"

In [49]:
lst[0]

1

In [50]:
lst[1]

2

In [51]:
lst[0]=10
lst

[10, 2, 3, 4, 5, 6.7, 'sanjeev', True]

#### Accessing elements within lists using index

- In Python the indexes start from 0 rather than 1.
- In other words, use 0 for first and 1 for second and so on.
- i,e Indexes start with '0' [From starting end] & '-1' [From other end]
    - Indexs: [0,  1,    2,      3]
    - Indexs: [-4, -3,   -2,    -1]

In [59]:
lst[0]

10

In [60]:
lst[1]

2

In [61]:
# access the last element
lst[-1]

True

In [62]:
# last but one
lst[-2]

'sanjeev'

In [63]:
len(lst)

8

#### Common error comes in "list":
- we can use indexes that are available in the variable any beyond means it will through an "error"
- Ex: Here length of list is "8" and u r asking for "10th index" which leads to "list index out of range" error.
    - i,e IndexError: list index out of range

In [64]:
lst[10]

IndexError: list index out of range

### Common list operations:
#### [A] Append [Addition]
- It is used to add one element "at a time at the end of the list".

In [66]:
lst

[10, 2, 3, 4, 5, 6.7, 'sanjeev', True]

In [67]:
lst0 = ['a', 'b', 'c', 'd']
print(lst0)

['a', 'b', 'c', 'd']

In [68]:
lst0 = ['a', 'b', 'c', 'd']
lst0.append('e')
lst0

['a', 'b', 'c', 'd', 'e']

- We canot add 2 elements at a time
- If added it will through error

- If still u want to add means u can use 
    - "for-loop" (or) 
    - "Extend"

In [69]:
lst0.append('e','f')

TypeError: list.append() takes exactly one argument (2 given)

In [142]:
lst0=['a', 'b', 'c', 'd']
lst0.append(5)
print(lst0)

['a', 'b', 'c', 'd', 5]

#### Common error comes in "list":
- We canot assign (=) anything to "Append", "Extend", "insert", "remove", "Pop"
- if u still assigned means that variable will be loss and it will be "none"

In [143]:
lst0 = lst0.append('f')
lst0
print(lst0)

None

In [144]:
lst0.append(20)
lst0

AttributeError: 'NoneType' object has no attribute 'append'

#### [B] Extend
- Merging two lists is done by using extend

In [2]:
lst1=[1,2,3]
lst2=[4,5,6]
lst1.extend(lst2)
print(lst1)
print(lst2)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [3]:
lst1.append(lst2)
lst1

[1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [4]:
lst1[-1]

[4, 5, 6]

In [5]:
lst2

[4, 5, 6]

#### Common error comes in "list":
- We canot assign (=) anything to "Append", "Extend", "insert", "remove", "Pop"
- if u still assigned means that variable will be loss and it will be "none"

In [6]:
lst1 = lst1.append('f')
lst1
print(lst1)

None

#### [C] Insert
- Insert an element using an index "at any place"
    - Ex: lst1.insert(0, -1) 
        - 0=which place we have to insert (0= Zeroth index)
        - -1=which element we have to insert

In [7]:
lst1=[1,2,3,4,5,6,[4,5,6]]
lst

NameError: name 'lst' is not defined

##### print:
- It is an in-built function
- U are free to send any number of arguments inside of it. (Ex:10/20/30 etc.)

In [8]:
# notice how elements shift towards right.

print(lst1)
lst1.insert(0, -1) 
# 0=which place we have to insert (0= Zeroth index)
# -1=which element we have to insert
print(f"list value after putting -1 at 0th index: {lst1}") #Format String format
#                                   [OR]
print("list value after putting -1 at 0th index:",  lst1) #without Format String format

[1, 2, 3, 4, 5, 6, [4, 5, 6]]
list value after putting -1 at 0th index: [-1, 1, 2, 3, 4, 5, 6, [4, 5, 6]]
list value after putting -1 at 0th index: [-1, 1, 2, 3, 4, 5, 6, [4, 5, 6]]

#### [D] Remove
- We have to pass only one "element" at a time in (), but not "indexes"
- If element is present then it will remove (or) else it will through "error" message

In [9]:
lst1

[-1, 1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [10]:
lst1.remove(-1)
lst1

[1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [11]:
lst1.remove(-1)
lst1

ValueError: list.remove(x): x not in list

- When there are duplicates it removes only one element at a time.
- It wont remove all the duplicates at once

In [12]:
lst3 = [1, 1]
lst3.remove(1)
lst3

[1]

In [13]:
lst3=[1, 3, 5, 'a', 'b']
lst3.remove('b')
lst3

[1, 3, 5, 'a']

- Cannot remove an element which is not present in list

In [14]:
lst3.remove(2)

ValueError: list.remove(x): x not in list

#### [E] Pop
- [A] 
    - By default, Pop removes the "last element" from list
    - When no value is passed inside (), it removes last index from list.
    - Result shows which element was dropped

In [15]:
lst1=[1,2,3,4,5,6,[4,5,6]]
lst1

[1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [16]:
print(lst1)
print(lst1.pop())
print(lst1)

[1, 2, 3, 4, 5, 6, [4, 5, 6]]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]

- [B] 
    - pop uses "indexes" iside (). 
        - Ex: lst1.pop(0)
        - lst1

    - Cannot pop an "empty list"

In [19]:
lst1.pop(0)
lst1

[3, 4, 6]

In [20]:
lst1.pop(-2)
print(lst1)

[3, 6]

#### [F] Slicing
- If i want to access more than 1 element with in a list

In [63]:
lst1=[1,2,3,4,5]
lst1
lst1[:2]

[1, 2]

In [64]:
lst1 = [1, 2, 3, 4, 5, 6]
print(lst1)

# fetch first 2 elements
print(lst1[:2])

[1, 2, 3, 4, 5, 6]
[1, 2]

In [65]:
# fetch first 3 elements
print(lst1[0:3])

[1, 2, 3]

In [66]:
print(lst1[1:3])

[2, 3]

In [67]:
len(lst1)

6

In [68]:
lst1[6]

IndexError: list index out of range

- If i want to access "all elements" with in a list

In [69]:
lst1[:10]

[1, 2, 3, 4, 5, 6]

In [70]:
print(lst1[:10])

[1, 2, 3, 4, 5, 6]

In [71]:
lst1[:100]

[1, 2, 3, 4, 5, 6]

In [72]:
# fetch last 2 elements
lst1[-2:]

[5, 6]

In [73]:
lst1[-4:-1]

[3, 4, 5]

In [74]:
lst1[-4:-2]

[3, 4]

##### [G] Reverse
- If u want to "reverse the order" then we will use this function (.reverse)

In [75]:
lst1.reverse()
lst1

[6, 5, 4, 3, 2, 1]

##### [H] Sort
- If u want to put values in "sorted format" then use this.

In [76]:
sorted(lst1)

[1, 2, 3, 4, 5, 6]

##### Works only for "single data type"

In [77]:
lst0 =['#', '1', 'z', 'a', 'y', '$', 'b', 'c', 'd']
sorted(lst0)

['#', '$', '1', 'a', 'b', 'c', 'd', 'y', 'z']

In [78]:
lst1.append('a')
lst1.append(True)
lst1.append([1,2,3])
lst1

[6, 5, 4, 3, 2, 1, 'a', True, [1, 2, 3]]

##### It wonot works on "Multiple (or) dis-similar data types"

In [79]:
sorted(lst1)

TypeError: '<' not supported between instances of 'str' and 'int'

#### NOTE:
- We cannot assign (=) anything to "Append", "Extend", "insert", "remove", "Pop"
- if u still assigned means that variable will be loss and it will be "none type"

# [2] Tuple()
- Tuples are denoted by Curly bracess i,e ()
- tp1=[int,float,str,boolean]
- Tuples are ordered elements, so they have indexs.
    - Ex:     [1, 3.4, “Ram”, True]
    - Indexs: [0,  1,    2,      3]
    - Indexs: [-4, -3,   -2,    -1]
    - i,e Indexs start with '0' [From starting end] & '-1' [From other end]
- They are non mutable and we cannot modify (add/remove/delete) values within them

### im-mutable:
- [A] Append [Addition] ------XXX
- [B] Extend -------------------XXX
- [C] Insert --------------------XXX
- [D] Remove -----------------XXX
- [E] pop ----------------------XXX
- [F] silcing
- [G] reverse-------------------XXX
- [H] sort-----------------------XXX

In [4]:
tp1=(1,2,3,4,5)
type(tp1)

tuple

- print = one function
- type = one function
- tp1 = one variable
- U can have any number of functions inside functions also

In [81]:
print(type(tp1))

<class 'tuple'>

- [F] Slicing
    - If i want to access "more than 1 element" with in a list
        - Ex: tp1=(1,2,3,4,5)
        -     tpl
        -     tpl[:2]
    
    - If i want to access "All elements" with in a list
        - Ex: tp1=(1,2,3,4,5)
        -     tpl
        -     tpl[:100]

In [83]:
tp1[0]

1

In [84]:
tp1[-1]

5

- Common error comes in "tuple":
    - We canot assign (=) anything to "Append", "Extend", "insert", "remove", "Pop"
    - if u still assigned means that variable will be loss and it will be "none"
        - Ex: tpl0=['a','b','c','d']
        -     tpl0 = tpl0.extend(5)
        -     print(tpl0)
        -     Ans: None ['tuple' object does not support item assignment]

In [85]:
tp1[0]=10
tp1[0]

TypeError: 'tuple' object does not support item assignment

- [G] Reverse
    - If u want to reverse the order then we will use this function (.reverse)
        - Ex: tpl1.reverse()
        -     tpl1

- [H] Sort
    - If u want to put values in "sorted format" then use this.
        - [A] Works only for "single data type"
            - Ex: tpl0 =['#', '1', 'z', 'a', 'y', '$', 'b', 'c', 'd']
            - sorted(tpl0)
        - [B] - It wonot works on "Multiple (or) dis-similar data types"
            - Ex: tpl0 =['#', '1', 1, 'a', 'y', True, 'b', 'c', 10.5]
            - sorted(tpl0)

In [9]:
# We canot reverse the tuple
tpl1=(1,2,3,4,5)
print(tpl1)
print(tpl1.reverse())

(1, 2, 3, 4, 5)

AttributeError: 'tuple' object has no attribute 'reverse'

In [10]:
# We canot sort the tuple
tpl1=(1,2,3,4,5)
print(tpl1)
print(tpl1.sort())

(1, 2, 3, 4, 5)

AttributeError: 'tuple' object has no attribute 'sort'

## [3] Sets {}
- Sets are denoted by "flower brackets/Curly braces" i,e {} 
- Sets=[int] or Sets=[float] or Sets=[str] or Sets=[boolean]
- Set by default will take "unique elements" (i,e it won't take duplicate values)
- Sets are un-ordered elements, so they donot have indexs.
    - Ex:     [1, 2, 2, 3, 4, 5]
- They are mutable and we cannot modify (add/remove/delete) values within them.

### mutable:
- [A] Append [Addition]
- [B] Extend 
- [C] Insert 
- [D] Remove 
- [E] pop 
- [F] Slicing------------------XXX
- [G] Reverse------------------XXX
- [H] Sort---------------------XXX

In [86]:
st = {1, 2, 2, 3, 4, 5}
print(st)

{1, 2, 3, 4, 5}

- [F] Slicing
    - we cannot do "slicing" here

In [87]:
st[0]

TypeError: 'set' object is not subscriptable

- [Q] If you have a "list" which is having "duplicate values" and if u want to convert that to "list of unique values" then do like below:
    - [1] First assign the "list"
    - [2] Pass "list" in to the "set"
    - [3] then output will be again pass in to the "list"
    - [4] Later assign to a variable "lst"

In [88]:
lst=[1,2,2,3,4,5]
lst=list(set(lst))
lst

[1, 2, 3, 4, 5]

### [or]

#### "list comprehension":
- with out using "set" function means we will do like below
- This process is called "list comprehension"  [It is same like for loop]
- y is nothing but lst=[1,2,2,3,4,5]
- If condition (i,e if y not in x) is "True" then it will append (or) it won't append.

In [91]:
x = []                                            # empty list
[x.append(y) for y in lst if y not in x]
x

[1, 2, 3, 4, 5]

- sets do not have indexes

In [92]:
st[0]

TypeError: 'set' object is not subscriptable

In [93]:
type(st)

set

## [4] Dictionary {}
- Dictinory are denoted by "flower brackets/Curly braces" i,e {} 
- Like in "List" & "Tuple" we are accessing through "indexs", here We can access by using "keys"
    - Ex: {"name": "sanjeev"} = {"Key" : "name"}
    - Ex: mydict["name"] ------- 'variable' followed by the 'key name'     
- They are mutable and we cannot modify (add/remove/delete) values within them.

### mutable:
- [a] keys
- [b] values
- [c] items

    - [A] Append [Addition]
    - [B] Extend 
    - [C] Insert 
    - [D] Remove 
    - [E] pop 
        - pop item
        - clear
    - [F] Slicing------------------XXX
    - [G] Reverse------------------XXX
    - [H] Sort

In [12]:
mydict = {"name": "sanjeev", "age":"36", "coo":"India"}
mydict

{'name': 'sanjeev', 'age': '36', 'coo': 'India'}

In [13]:
type(mydict)

dict

In [14]:
mydict["name"]

'sanjeev'

In [15]:
mydict["name"]="blah"
mydict

{'name': 'blah', 'age': '36', 'coo': 'India'}

In [16]:
mydict = {"name": "sanjeev", "age":"36", "coo":"India"}
mydict["coo"]

'India'

In [17]:
# assinging new key
mydict["new_key"] = "new_value"
mydict

{'name': 'sanjeev', 'age': '36', 'coo': 'India', 'new_key': 'new_value'}

### Common operations on Dictionary datatype
### [A] keys:
- Shows list of keys we will use ".keys()"
    - .keys()

In [18]:
mydict.keys()

dict_keys(['name', 'age', 'coo', 'new_key'])

### [B] values
- To show list of values we will use ".values()"
     - .values()

In [19]:
mydict.values()

dict_values(['sanjeev', '36', 'India', 'new_value'])

### [C] items:
- To show list of items mappings we will use ".items()"
- It will give out put as list of tuples.
    - .items()

In [102]:
mydict.items()

dict_items([('name', 'sanjeev'), ('age', '36'), ('coo', 'India'), ('new_key', 'new_value')])

#### [OR]

In [103]:
for i in mydict.items():
    print(i)

('name', 'sanjeev')
('age', '36')
('coo', 'India')
('new_key', 'new_value')

### [E] Pop
- For removing one element we will use "pop"
- We will pass specified "key"

In [104]:
mydict.pop('coo')

'India'

In [105]:
mydict

{'name': 'sanjeev', 'age': '36', 'new_key': 'new_value'}

### [I] Popitem 
- It will remove the "last item" and its "Key"

In [106]:
mydict.popitem()

('new_key', 'new_value')

In [107]:
mydict

{'name': 'sanjeev', 'age': '36'}

### [J] Clear 
- If we want remove all "keys and values" from dictinory then use 'clear'

In [41]:
mydict.clear()
mydict

{}

## Data Type conversion (or) Type casting:
- Converting one data type to another datatype. 
- Examples are mentioned below
    - int
    - str
    - float

### [A] List conversions [Convert to list]

In [20]:
# Convert Tuple to List
tpl = (1, 2, 3)
lst_from_tpl = list(tpl)
print(lst_from_tpl)  # Output: [1, 2, 3]

# Convert Set to List
st = {4, 5, 6}
lst_from_set = list(st)
print(lst_from_set)  # Output: [4, 5, 6] (order may vary)

# Convert Dictionary to List (Keys only)
dic = {'a': 10, 'b': 20}
lst_from_dict = list(dic)
print(lst_from_dict)  # Output: ['a', 'b']

[1, 2, 3]
[4, 5, 6]
['a', 'b']

### [B] Tuple conversions [Convert to Tuple]

In [21]:
# Convert List to Tuple
lst = [7, 8, 9]
tpl_from_lst = tuple(lst)
print(tpl_from_lst)  # Output: (7, 8, 9)

# Convert Set to Tuple
st = {10, 11, 12}
tpl_from_set = tuple(st)
print(tpl_from_set)  # Output: (10, 11, 12) (order may vary)

# Convert Dictionary to Tuple (Keys only)
dic = {'x': 100, 'y': 200}
tpl_from_dict = tuple(dic)
print(tpl_from_dict)  # Output: ('x', 'y')

(7, 8, 9)
(10, 11, 12)
('x', 'y')

### [C] Set Conversions [Convert to Set]

In [22]:
# Convert List to Set
lst = [1, 2, 3, 3, 4]
set_from_lst = set(lst)
print(set_from_lst)  # Output: {1, 2, 3, 4} (removes duplicates)

# Convert Tuple to Set
tpl = (5, 6, 7, 7)
set_from_tpl = set(tpl)
print(set_from_tpl)  # Output: {5, 6, 7}

# Convert Dictionary to Set (Keys only)
dic = {'p': 300, 'q': 400}
set_from_dict = set(dic)
print(set_from_dict)  # Output: {'p', 'q'}

{1, 2, 3, 4}
{5, 6, 7}
{'p', 'q'}

### [D] Dictionary Conversions [Convert to Dictionary]

In [23]:
# Convert List of Tuples to Dictionary
lst_of_tuples = [('a', 1), ('b', 2)]
dict_from_lst = dict(lst_of_tuples)
print(dict_from_lst)  # Output: {'a': 1, 'b': 2}

# Convert Tuple of Tuples to Dictionary
tpl_of_tuples = (('x', 10), ('y', 20))
dict_from_tpl = dict(tpl_of_tuples)
print(dict_from_tpl)  # Output: {'x': 10, 'y': 20}

# Convert Set to Dictionary (Invalid directly)
# st = {1, 2, 3}
# dict_from_set = dict(st)  # ❌ ERROR: Needs key-value pairs

# Convert List of Lists to Dictionary
lst_of_lists = [['p', 50], ['q', 60]]
dict_from_lst = dict(lst_of_lists)
print(dict_from_lst)  # Output: {'p': 50, 'q': 60}

{'a': 1, 'b': 2}
{'x': 10, 'y': 20}
{'p': 50, 'q': 60}

### Few more Examples:
#### [a] Converting "float" to "string"

In [108]:
z=10.25
print(z)
z=str(z)
print(z)
print(type(z))

10.25
10.25
<class 'str'>

In [109]:
z = 10.375
z = str(z)
z

'10.375'

In [110]:
type(z)

str

#### [b] Converting "string" to "integer"

In [111]:
z='10'
z=int('10')
z

10

In [6]:
type(z)

int

#### [c] Converting "float" to "integer"
- We canot covert "float" in "string" format to directly to "integer"

In [112]:
z='10.5'
z=int(z)

ValueError: invalid literal for int() with base 10: '10.5'

##### In this case what we have to do it means:
- First we have to convert it in to "float" 
- after that covert in to "integer"

In [113]:
z='10.5'
z=float(z)
z
z=int(z)
z

10

In [114]:
type(z)

int

#### [d] Converting "integer" to "boolean"
- Any variable that doesnot have "value" is "flase" in python

In [115]:
z=0
z=bool(z)
z

False

In [116]:
z=[]
z=bool(z)
z

False

#### [e] Converting "integer" to "list"
- U caanot convert "integer" to "list"

In [117]:
x=5
list(x)
x

TypeError: 'int' object is not iterable

#### [f] Converting "integer" to "set"
- U canot convert "integer" to "set"

In [118]:
x=5
x=set(x)
x

TypeError: 'int' object is not iterable